@import url(styles/header.css);
@import url(styles/banner.css);
@import url(styles/carrosel.css);

:root{
    --cor-de-fundo: red;
    --fonte-principal:"poppins";
}

.body{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16xp;
    font-weight: 400;
}

.h1{
    background-color: rgb(236, 216, 123);
}