.carrosel__titulo{
    color: rgba(243, 161, 37, 0.568);
    background-color: rgba(112, 9, 160, 0.432);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 0.5em 0;
}